/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

$padding: 24px; // For consistent padding
$grey: #fff; // Background color
$width: 580px; // Width of the content area
$br: 3px; // Border radius
$btn-br: 5px; // Border radius
$primary-color: #348eda; // Primary color for buttons and links
$secondary-color: #595f6c;
$body-color: #141823;
