/* -------------------------------------
    RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */

table[class=body]{
  @media only screen and (max-width: $width+40) {
    // Type
    h1,
    h2,
    h3,
    h4 {
      font-weight: 600 !important;
    }

    h1 {
      font-size: 36px !important;
    }

    h2 {
      font-size: 26px !important;
    }

    h3 {
      font-size: 18px !important;
    }

    // Spacing
    // .wrapper,
    .content {
      padding: 10px !important;
    }
    .main {
      border: 0 !important;
    }
    .wrapper{
      padding: 0 !important;
    }

    .container {
      padding: 0 !important;
      width: 100% !important;
    }

    // Buttons
    .btn table {
      width: 100% !important;
    }
    // .date {
    //   text-align: center !important;
    // }
  }
}
